<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineering4Music: Login</title>
    <link href="css/main.css" rel="stylesheet" title="Default Style" />
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/45e20ca475.js" crossorigin="anonymous"></script>
    <script src="js/nav_responsive.js"></script>
</head>

<body>
    <nav id="navbar">
        <a href="/home" class="hide">
            <img id="logo" src="/images/logo.png" alt="">
        </a>
        <ul id="nav-links">
            <li class="nav-item hide"><a href="/">Home</a></li>
            <li class="nav-item hide"><a href="/data">Data</a></li>
            <li class="nav-item hide active {{login}}" id="login"><a href="/loginform"><i
                        class="fas fa-lock-open"></i>Login</a>
            </li>
        </ul>
        <div class="nav-responsive" id="myTopnav">
            <a href="/loginform" id="login" class="active {{login}}">Login</a>
            <a href="/">Home</a>
            <a href="/data">Data</a>
            <a href="javascript:void(0);" id="hamburger" class="icon" onclick="toggleNavbar()"><i
                    class="fas fa-bars"></i></a>
            </a>
        </div>
    </nav>

    <div class="content">
        <div class="login-form">
            <h1>{{title}}</h1>
            {{#if err_msg}}
            <p>{{err_msg}}</p>
            {{/if}}
            {{#if not_registered_msg}}
            <p>This email is not registered. <a href="/join">{{not_registered_msg}}</a></p>
            {{/if}}
            {{#if success_msg}}
            <p>{{success_msg}}</p>
            {{/if}}
            <form id="local" action="/login" method="POST">
                <div class="login-input"><input type="email" name="email" placeholder="Enter your e-mail" required>
                </div>
                <div class="login-input"><input type="password" name="password" placeholder="Enter your password"
                        required>
                </div>
                <div><input type="submit" value="Login" id="login-button"></div>
            </form>
            <div id="login-signup">Don't have a login yet? <a href="/join">Click here to sign up.</a></div>
        </div>
    </div>

    <footer class="footer" id="footer">

        <div class="footer" id="footer-bottom">

            <div class="footer" id="footer-bottom-logo">
                <img id="logo" src="/images/logo.png" alt="">
            </div>

            <div class="footer" id="footer-bottom-copy">
                <p>&copy; 2020 Engineering4Music. All rights reserved.</p>
            </div>

            <div class="footer" id="footer-bottom-sm-icons">
                <a href="#"><i class="fa fa-twitter fa-4x icon-3d"></i></a>
                <a href="#"><i class="fa fa-facebook fa-4x icon-3d"></i></a>
                <a href="#"><i class="fa fa-instagram fa-4x icon-3d"></i></a>
                <a href="#"><i class="fa fa-envelope fa-4x icon-3d"></i></a>
            </div>

            <div class="footer" id="footer-bottom-right">
                <p>Made with <span class="heart">♥</span> in Winterthur</p>
            </div>
        </div>
    </footer>

</body>

</html>